body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
}

.navbar.bg-transparent{
    background-color: transparent !important;
}

.navbar.navbar-brand.logo{
    height: 100%;
    width: 120px;
}

.container.row > div{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.tagline{
    font-size: 40px;
    font-weight: 700;
}

.tagline > span{
    color: #0084FF;

}

.image-model{
    width: 100%;
    position: relative;
}

.image-wrapper{
position: absolute;
}

.image-wrapper img{
    width: 100%;
}
.image-circle{
    position: absolute;
    width: 30%;
    margin: auto;
    top: 200px;
    margin-left: -25px;
    z-index: -1;

}

.material__section{
    background-image: url('../assets/images/material-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.material__group{
    width: 100%;
    height: 100%;
    display: flex;
}

.material__content{
    margin: 10% 0;
    width: 100%;
    padding: 10px;
}

.material__content p{
    color: #ffff;
    margin: 5% 0;
    font-weight: 400;
    font-size: 16px;
}

.material__content p:first-child{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.material__content > p > span{
    color: #0084FF;
}

.material__content .center__logo{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.material__content .center__logo button{
    font-weight: 400;
    font-size: 24px;
}

.material__shop{
    font-weight: 700;
    font-size: 48px;
}

.ecommerce__logo{
    width: auto;
    height: 75px;
}

.btn__left{
    text-align: left !important;
}

.btn__right{
    text-align: right !important;
}

.btn__size{
    width: 100%;
    height: 48px;
}

.button__align__center{
    margin: 14% 0;
}

.display__gallery img{
    width: 100%;
    height: auto;
}

.display__gallery .display__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #0084FF;

}

.display__gallery p{
    margin-top: 3rem;
    font-weight: 400;
    font-size: 18px;
}

.why__habits{
    width: 100%;
    height: auto;
}

.why__habits img{
    width: 100%;
    height: auto;
}

.my-6{
    margin-top: 12rem !important;
    margin-bottom: 12rem !important;
}

.mt-8{
    margin-top: 8rem !important;
}

.w-70{
    width: 70%;
}

.centered{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.centered__right{
    width: 40%;
    margin: auto;
    padding: 10px;
    text-align: right;
}

.shop__now{
    width: 70%;
    margin: auto;
    padding: 20% 0;
}

.btn-grey{
    background-color: #c6c6c6;
}

.discount__price{
    background-color: #1A1A1A;
    width: 100%;
    height: auto;
    color: white;
    padding: 3rem 0px 0rem 0px;
}

.discount__price h1{
    font-weight: 700;
}

.today__discount{
    font-weight: 400;
}

.discount__text{
    font-weight: 700;
}

span.outer{
    color: #0084FF;
    text-decoration: line-through;
    font-size: 64px;
}

span.inner{
    color: #ffff;
    font-weight: 700;
    font-size: 64px;
}

.up__to{
    font-size: 40px;
}

.percent__discount{
    font-size: 64px;
    color: #0084FF;
}

.real__price{
    font-size: 96px;
}

.discount__shop{
    font-weight: 700;
    font-size: 36px;
}

.centered__shop{
    width: 50%;
    margin: 20px 0;
}

.row__height{
    height: 30% !important;
}

.clothes__gallery{
    background-color: #F3F3F3;
}

.clothes__gallery img{
    width: 100%;
    height: auto;
}

.model__pic{
    width: 100%;
    height: auto;
}

.desciption__sec h2{
    font-weight: 700;
}

.desc__page{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.desc__title{
    font-weight: 700;
    margin: 30px 0;
}

.footer{
    background-color: #1A1A1A;
    color: #ffff;
}

.footer span{
    font: 700;
}

.footer p{
    font-size: 24pax;
}

.tagline__footer{
    margin: auto;

}

.tagline__footer h2 > span{
    font-weight: 700;

}

.gap__footer{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.call__me{
    font-size: 24px;
}

.social__media{
    font-size: 24px;
}

.promotion{
    height: 30rem;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion span{
    font-weight: 700;
}

.sec__footer{
    background-color: #1A1A1A;
    color: #ffff;
    width: 100%;
    height: auto;
}

.sec__footer span:first-child{
    font-weight: 700;
}

.sec__footer span{
    font-size: 24px;
    margin: 0 20px;
}

.sec__footer img{
    width: auto;
    height: 40px;
}

.discount__price{
    font-weight: 700;
    font-size: 32px;
}

.original__text{
    font-size: 12px;
}

.material__section{
    margin-top: 0 !important;
}

.display__video{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: -2px;
}

.display__video img{
    width: auto;
    height: 130px;
    position: relative;
    top: -2px;
}

iframe{
    width: 100%;
    margin: 20px 0;
}


.display__countdown li{
        display: inline-block;
        font-size: 0.6em;
        list-style-type: none;
        padding: 1em;
        text-transform: uppercase;
}

.display__countdown{
    display: flex;
    justify-content: space-between;
}

li span {
    display: block;
    font-size: 4.5rem;
    text-align: center;
}

.phone__display{
    display: none;
}

.why__title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
    top: -2px;
}

.why__title img{
    width: auto;
    height: 117px;
    position: relative;
    top: -2px;
}


@media screen and (max-width:600px) and (min-width:300px) {
    .navbar .logo img{
        width: 90px;
        height: auto;
    }

    .hero__section{
        display: flex;
        flex-direction: column;
    }

    .hero__section .m-auto{
        margin: 0;
        width: 100%;
    }

    .tagline{
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
    .image-circle{
        width: 100%;
        top: 335px;
        margin-left: -8px;
    }

    .material__content p:first-child{
        text-align: center;
        font-size: 19px;
        line-height: 20px;
    }

    .material__content p{
        font-size: 15px;
    }

    .row__disable{
        display: none;
    }

    .material__section{
        background-position: center;
    }

    .material__shop {
        text-align: center !important;
        margin-top: 0 !important;
    }

    .desc__shopnow{
        font-size: 17px !important;
    }

    .material__content .centered__right img{
        width: 40px;
        height: auto;
    }

    .centered__shop{
        margin: 10px 0;
    }

    .centered__right{
        padding: 0;
        width: auto;
        text-align: center;
    }

    .row__height{
        height: auto;
    }

    .btn__size{
        width: 90%;
        height: 40px;
        font-size: 10px;
    }

    .width__70{
        width: 70% !important;
    }

    .w-70{
        width: 100%;
        text-align: center;
        padding: 0 0 0 20px;
    }

    .display__video{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        position: relative;
        top: -2px;
    }

    .display__video img{
        width: auto;
        height: 117px;
        position: relative;
        top: -2px;
    }

    .phone__display .col-6{
        background: #0084FF;
        border-radius: 100px;
        text-align: center;
        color: white;
        padding: 12px;
        width: -webkit-fill-available;
        margin: 10px;
        font-size: 15px;
    }

    .phone__display .col-6 span > span{
        font-weight: 700;
    }


    /* .btn__size .col-6{
        font-size: 13px;
    } */

    .display__gallery .display__title{
        font-size: 30px;
        line-height: 40px;
    }

    .display__gallery p{
        font-size: 18px;
        margin-top: 2rem;
    }

    .my-6{
        margin-top: 7rem !important;
        margin-bottom: 7rem !important;
    }

    .shop__now{
        width: 100%;
    }



    .material__shop{
        font-size: 18px;
    }

    .material__desc{
        font-size: 12px;
    }

    .center__logo img{
        width: 24px;
        height: auto;
    }

    .discount__price h3{
        text-align: center;
    }

    .discount__through{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    span .inner{
        font-size: 36px;
    }

    span .outer{
        font-size: 36px;
    }

    .up__to{
        font-size: 26px;
    }

    .real__price{
        font-size: 46px;
        text-align: center;
    }

    .discount__shop{
        font-size: 22px;
    }

    .display__countdown{
        text-align: center;
    }

    .display__countdown li{
        font-size: 0.7rem;
    }

    li span{
        font-size: 2.6rem;
    }

    .original__text{
        font-size: 12px;
    }

    .mt-8{
        margin-top: 2rem !important;
    }

    .gap__gallery{
        gap: 30px 0;
    }

    .small__display{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .desc__title{
        font-size: 18px;
        text-align: center;
    }

    .small__font{
        font-size: 18px;
        text-align: center;
    }

    .font__8p{
        font-size: 12px;
    }

    .tagline__footer{
        text-align: center;
        margin-bottom: 30px;
    }

    .call__me{
        font-size: 14px;
    }

    .social__media{
        margin: 0;
        font-size: 12px;
    }

    .social__logo{
        width: 22px;
        height: auto;
    }

    .gap__footer{
        justify-items: center;
    }

    .ecommerce__footer{
        width: 32px;
        height: auto;
    }

    .align-center{
        display: flex;
        align-items: center;
    }

    .gap__footer .mt-3{
        margin-top: 10px !important;
    }

    .sec__footer h1{
        font-size: 12px;
    }

    .promotion{
        text-align: center;
    }

    .gallery{
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .sec__footer img {
        width: auto;
        height: 18px;
    }

    .sec__footer span {
        font-size: 7px;
        margin: 0 0 0 8px;
    }

    .sec__footer .d-flex{
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .button__align__center{
        margin: 7% 0;
    }

    .discount__price .small__display .centered{
        width: 100%;
    }

    .phone__display{
        display: block;
    }

    .flex__phone{
        display: flex !important;
        flex-direction: column !important;
        align-content: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .wd__shopnow{
        width: 100% !important;
        text-align: center !important;
    }

    .shop__now .centered__right img{
        width: 40px;
        height: auto;
    }

    .margin__bottom__8{
        margin-bottom: 3rem;
    }


    .centered__right img{
        width: 40px;
        height: auto;
    }

    .margin__top__45{
        margin-top: 45px;
    }
}

@media screen and (max-width:768px) and (min-width:601px){
    .tagline{
        font-size: 24px;
    }
    .image-circle{
        width: 40%;
        top: 160px;
        margin-left: -15px;
    }

    .material__content .centered__right img {
        width: 32px;
        height: auto;
    }

    .material__content p:first-child {
        font-weight: 700;
        font-size: 20px;
    }

    .material__content p{
        font-size: 12px;
    }


    .btn__size {
        width: 100%;
        height: 30px;
        font-size: 10px;
    }

    .centered__shop{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .display__gallery .display__title{
        font-size: 24px;
        line-height: 35px;
    }

    .display__gallery p{
        margin-top: 1rem;
        font-size: 12px;
    }

    .material__shop{
        font-size: 24px;
    }

    .material__desc {
        font-size: 12px;
    }

    .center__logo img{
        width: 32px;
        height: auto;
    }

    span .inner{
        font-size: 42px;
    }

    span .outer{
        font-size: 42px;
    }

    .up__to{
        font-size: 28px;
    }

    .percent__discount{
        font-size: 42px;
    }

    .discount__shop{
        font-size: 24px;
    }

    .real__price{
        font-size: 56px;
    }

    .display__countdown li{
        display: inline-block;
        font-size: 0.5em;
        list-style-type: none;
        padding: 0.2em;
        text-transform: uppercase;
    }
    li span {
        display: block;
        font-size: 2.8rem;
        text-align: center;
    }

    .original__text {
        font-size: 12px;
        font-weight: 400;
    }

    .mt-8{
        margin-top: 2rem !important;
    }

    .clothes__gallery img {
        width: 80%;
        height: auto;
        margin: auto;
        gap: 22px;
        display: flex;
        column-gap: 21px;
    }

    .gap__gallery{
        gap: 60px 0;
    }

    .gap__contact{
        gap: 40px 0;
    }

    .font-26{
        font-size: 26px !important;
    }

    .sec__footer img{
        height: 28px;
    }

    .sec__footer span{
        font-size: 18px;
    }

    .desc__shopnow{
        font-size: 12px;
    }

    .image__ecommerce img{
        width: 42px;
        height: auto;
    }
}

@media screen and (max-width:1024px) and (min-width:769px){
    .tagline{
        font-size: 28px;
    }

    .image-circle{
        width: 41%;
        margin-left: -27px;
    }

    .material__section{
        margin-top: 0 !important;
    }

    .material__content p:first-child{
        font-size: 24px;
        line-height: 30px;
    }

    .material__content p{
        font-size: 14px;
    }

    .material__content .centered__right img{
        width: 48px;
    }

    .btn__size{
        height: 40px;
        font-size: 12px;
    }

    .material__shop{
        font-size: 32px;
    }

    span .inner , span .outer{
        font-size: 36px;
    }

    .up__to{
        font-size: 26px;
    }

    .percent__discount{
        font-size: 42px;
    }

    .real__price{
        font-size: 54px;
    }

    .discount__shop{
        font-size: 28px;
    }

    .original__text{
        font-size: 12px;
    }

    .desc__title{
        font-size: 20px;
    }

    .mt-8{
        margin-top: 2rem !important;
    }

    .font-24{
        font-size: 24px !important;
    }

    .call__me{
        font-size: 18px;
    }

    .social__media{
        font-size: 16px;
    }

    .social__logo{
        width: auto;
        height: 26px;
    }

    .ecommerce__footer{
        width: 45px;
    }

    .font-26{
        font-size: 26px;
    }

    .display__countdown li {
        display: inline-block;
        font-size: 0.5em;
        list-style-type: none;
        padding: 0.2em;
        text-transform: uppercase;
        text-align: center;
    }

    li span{
        font-size: 2.8rem;
    }

    .desc__shopnow{
        font-size: 13px;
    }

}

@media screen and (min-width:1029px) and (min-width:1440px){
    .image-circle{
        width: 40%;
    }

    .display__countdown{
        font-size: 0.8rem;
    }

    .display__countdown li{
        font-size: 2rem;
        text-align: center;
    }

    li span{
        font-size: 5rem;
    }
}

@media screen and (min-width:1441px) and (max-width:2560px) {
    .image-circle{
        width: 22%;
    }
}
